IslandFurniturePOS/src/META-INF/wsdl/localhost_8080/MemberRegistrationModuleService/MemberRegistrationModule.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://OCRM.SessionBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://OCRM.SessionBean/" name="MemberRegistrationModuleService">
<types>
<xsd:schema>
<xsd:import namespace="http://OCRM.SessionBean/" schemaLocation="http://localhost:8080/MemberRegistrationModuleService/MemberRegistrationModule?xsd=1"/>
</xsd:schema>
</types>
<message name="checkMember">
<part name="parameters" element="tns:checkMember"/>
</message>
<message name="checkMemberResponse">
<part name="parameters" element="tns:checkMemberResponse"/>
</message>
<message name="CheckFirstTransaction">
<part name="parameters" element="tns:CheckFirstTransaction"/>
</message>
<message name="CheckFirstTransactionResponse">
<part name="parameters" element="tns:CheckFirstTransactionResponse"/>
</message>
<message name="upgradeMember">
<part name="parameters" element="tns:upgradeMember"/>
</message>
<message name="upgradeMemberResponse">
<part name="parameters" element="tns:upgradeMemberResponse"/>
</message>
<message name="memberLogin">
<part name="parameters" element="tns:memberLogin"/>
</message>
<message name="memberLoginResponse">
<part name="parameters" element="tns:memberLoginResponse"/>
</message>
<message name="getMemberCardIdById">
<part name="parameters" element="tns:getMemberCardIdById"/>
</message>
<message name="getMemberCardIdByIdResponse">
<part name="parameters" element="tns:getMemberCardIdByIdResponse"/>
</message>
<message name="getMemberIdByCardId">
<part name="parameters" element="tns:getMemberIdByCardId"/>
</message>
<message name="getMemberIdByCardIdResponse">
<part name="parameters" element="tns:getMemberIdByCardIdResponse"/>
</message>
<portType name="MemberRegistrationModule">
<operation name="checkMember">
<input wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/checkMemberRequest" message="tns:checkMember"/>
<output wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/checkMemberResponse" message="tns:checkMemberResponse"/>
</operation>
<operation name="CheckFirstTransaction">
<input wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/CheckFirstTransactionRequest" message="tns:CheckFirstTransaction"/>
<output wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/CheckFirstTransactionResponse" message="tns:CheckFirstTransactionResponse"/>
</operation>
<operation name="upgradeMember">
<input wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/upgradeMemberRequest" message="tns:upgradeMember"/>
<output wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/upgradeMemberResponse" message="tns:upgradeMemberResponse"/>
</operation>
<operation name="memberLogin">
<input wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/memberLoginRequest" message="tns:memberLogin"/>
<output wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/memberLoginResponse" message="tns:memberLoginResponse"/>
</operation>
<operation name="getMemberCardIdById">
<input wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/getMemberCardIdByIdRequest" message="tns:getMemberCardIdById"/>
<output wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/getMemberCardIdByIdResponse" message="tns:getMemberCardIdByIdResponse"/>
</operation>
<operation name="getMemberIdByCardId">
<input wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/getMemberIdByCardIdRequest" message="tns:getMemberIdByCardId"/>
<output wsam:Action="http://OCRM.SessionBean/MemberRegistrationModule/getMemberIdByCardIdResponse" message="tns:getMemberIdByCardIdResponse"/>
</operation>
</portType>
<binding name="MemberRegistrationModulePortBinding" type="tns:MemberRegistrationModule">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckFirstTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upgradeMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="memberLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberCardIdById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberIdByCardId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MemberRegistrationModuleService">
<port name="MemberRegistrationModulePort" binding="tns:MemberRegistrationModulePortBinding">
<soap:address location="http://localhost:8080/MemberRegistrationModuleService/MemberRegistrationModule"/>
</port>
</service>
</definitions>