IslandFurniturePOS/xml-resources/web-service-references/TransactionModule/wsdl/localhost_8080/TransactionModuleService/TransactionModule.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://OCRM.SessionBean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://OCRM.SessionBean/">

<xs:element name="caculateChange" type="tns:caculateChange"/>

<xs:element name="caculateChangeResponse" type="tns:caculateChangeResponse"/>

<xs:element name="caculateTotalPrice" type="tns:caculateTotalPrice"/>

<xs:element name="caculateTotalPriceResponse" type="tns:caculateTotalPriceResponse"/>

<xs:element name="checkItem" type="tns:checkItem"/>

<xs:element name="checkItemResponse" type="tns:checkItemResponse"/>

<xs:element name="createTransaction" type="tns:createTransaction"/>

<xs:element name="createTransactionItem" type="tns:createTransactionItem"/>

<xs:element name="createTransactionItemResponse" type="tns:createTransactionItemResponse"/>

<xs:element name="createTransactionResponse" type="tns:createTransactionResponse"/>

<xs:element name="deleteUnfinishedTransaction" type="tns:deleteUnfinishedTransaction"/>

<xs:element name="deleteUnfinishedTransactionResponse" type="tns:deleteUnfinishedTransactionResponse"/>

<xs:element name="getTransactionItemList" type="tns:getTransactionItemList"/>

<xs:element name="getTransactionItemListResponse" type="tns:getTransactionItemListResponse"/>

<xs:complexType name="getTransactionItemList">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionItemListResponse">
<xs:sequence>
<xs:element name="return" type="tns:transactionItemEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionItemEntity">
<xs:sequence>
<xs:element name="amount" type="xs:int"/>
<xs:element name="itemId" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="pickupList" type="tns:pickupListEntity" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="transaction" type="tns:transactionEntity" minOccurs="0"/>
<xs:element name="transactionItemId" type="xs:long" minOccurs="0"/>
<xs:element name="unitPrice" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pickupListEntity">
<xs:sequence>
<xs:element name="picked" type="xs:boolean" minOccurs="0"/>
<xs:element name="pickupListId" type="xs:long" minOccurs="0"/>
<xs:element name="transactoinItems" type="tns:transactionItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionEntity">
<xs:sequence>
<xs:element name="generateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="location" type="xs:int"/>
<xs:element name="member" type="tns:memberEntity" minOccurs="0"/>
<xs:element name="moneyChange" type="xs:double" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="storeStaff" type="tns:storeUserEntity" minOccurs="0"/>
<xs:element name="tendered" type="xs:double" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="transactionItemList" type="tns:transactionItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="currentPoints" type="xs:double" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="memberId" type="xs:long" minOccurs="0"/>
<xs:element name="memberlvl" type="tns:membershipLevel" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="pointsToUpgrade" type="xs:double" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="shoppingCartList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storeId" type="xs:long" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="totalPoints" type="xs:double" minOccurs="0"/>
<xs:element name="transactionList" type="tns:transactionEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="membershipLevel">
<xs:sequence>
<xs:element name="discount" type="xs:double"/>
<xs:element name="levelId" type="xs:int" minOccurs="0"/>
<xs:element name="levelName" type="xs:string" minOccurs="0"/>
<xs:element name="pointsToUpgrade" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemEntity">
<xs:sequence>
<xs:element name="avalibility" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
<xs:element name="productName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productEntity">
<xs:sequence>
<xs:element name="BOM" type="tns:bomEntity" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factoryProducts" type="tns:factoryProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="storeProducts" type="tns:storeProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bomEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="BOMId" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
<xs:element name="rawMaterial" type="tns:rawMaterialEntity" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rawMaterialEntity">
<xs:sequence>
<xs:element name="bomList" type="tns:bomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factoryRawMaterials" type="tns:factoryRawMaterialEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="materialId" type="xs:long" minOccurs="0"/>
<xs:element name="materialName" type="xs:string" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRawMaterialEntity">
<xs:sequence>
<xs:element name="blockedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="contracts" type="tns:contractEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryRawMaterialId" type="xs:long" minOccurs="0"/>
<xs:element name="inventoryRecord" type="tns:inventoryRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="materialName" type="xs:string" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="rawMaterial" type="tns:rawMaterialEntity" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contractEntity">
<xs:sequence>
<xs:element name="contractEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="contractId" type="xs:long" minOccurs="0"/>
<xs:element name="contractPrice" type="xs:double" minOccurs="0"/>
<xs:element name="contractStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="leadTime" type="xs:int" minOccurs="0"/>
<xs:element name="lotSize" type="xs:double" minOccurs="0"/>
<xs:element name="supplier" type="tns:supplierEntity" minOccurs="0"/>
<xs:element name="typeIndicator" type="xs:int"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRetailProductEntity">
<xs:sequence>
<xs:element name="blockedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="contracts" type="tns:contractEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryRetailProdctId" type="xs:long" minOccurs="0"/>
<xs:element name="inventoryRecords" type="tns:inventoryRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="retailProduct" type="tns:retailProductEntity" minOccurs="0"/>
<xs:element name="returnedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="storeRetailProducts" type="tns:storeRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="factoryBins" type="tns:factoryBinEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryId" type="xs:long" minOccurs="0"/>
<xs:element name="factoryProducts" type="tns:factoryProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryRawMaterials" type="tns:factoryRawMaterialEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryRetailProducts" type="tns:factoryRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="integratedPlannedOrders" type="tns:integratedPlannedOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="managerId" type="xs:string" minOccurs="0"/>
<xs:element name="plannedOrder" type="tns:plannedOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="plannedOrders" type="tns:plannedOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="purchaseOrders" type="tns:purchaseOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryBinEntity">
<xs:sequence>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinId" type="xs:long" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryBinStoredProductEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="factoryBin" type="tns:factoryBinEntity" minOccurs="0"/>
<xs:element name="factoryBinStoredProductId" type="xs:long" minOccurs="0"/>
<xs:element name="factoryProduct" type="tns:factoryProductEntity" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="stockTypeIndicator" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryProductEntity">
<xs:sequence>
<xs:element name="blockedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryProductId" type="xs:long" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
<xs:element name="record" type="tns:inventoryRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="returnedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="storeProducts" type="tns:storeProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inventoryRecordEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="factoryProduct" type="tns:factoryProductEntity" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="recordDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeProductEntity">
<xs:sequence>
<xs:element name="factoryProduct" type="tns:factoryProductEntity" minOccurs="0"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
<xs:element name="selfPick" type="xs:boolean" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="storeProductId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="manager" type="xs:string" minOccurs="0"/>
<xs:element name="storeId" type="xs:long" minOccurs="0"/>
<xs:element name="storeItemMapping" type="tns:storeItemMappingEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storeProduct" type="tns:storeProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storeProductMapping" type="tns:storeItemMappingEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storeRetailProduct" type="tns:storeRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="transacion" type="tns:transactionEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kitchenEntity">
<xs:sequence>
<xs:element name="combos" type="tns:comboEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="dishes" type="tns:dishEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ingredientSuppliers" type="tns:ingredientSupplierEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ingredients" type="tns:ingredientEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="menuItemForecasts" type="tns:menuItemForecastEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="orders" type="tns:kitchenOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storagePlaces" type="tns:storagePlaceEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comboEntity">
<xs:sequence>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="dishList" type="tns:dishEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="dishes" type="tns:dishItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="forecasts" type="tns:menuItemForecastEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dishEntity">
<xs:sequence>
<xs:element name="combos" type="tns:comboEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="forecasts" type="tns:menuItemForecastEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="recipe" type="tns:ingredientItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="recipeQuantity" type="xs:int" minOccurs="0"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menuItemForecastEntity">
<xs:sequence>
<xs:element name="comboForecastItems" type="tns:comboItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dishForecastItems" type="tns:dishItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ingredientForecast" type="tns:ingredientForecastEntity" minOccurs="0"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="targetDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comboItemEntity">
<xs:sequence>
<xs:element name="combo" type="tns:comboEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dishItemEntity">
<xs:sequence>
<xs:element name="dish" type="tns:dishEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="quantity" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientForecastEntity">
<xs:sequence>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="forecastItems" type="tns:ingredientItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="menuItemForecast" type="tns:menuItemForecastEntity" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:ingredientPurchaseOrderEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientItemEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ingredient" type="tns:ingredientEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientEntity">
<xs:sequence>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="dishes" type="tns:dishEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="forecasts" type="tns:ingredientForecastEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="issues" type="tns:ingredientIssueEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="lotSize" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="purchaseOrders" type="tns:ingredientPurchaseOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
<xs:element name="stock" type="xs:double" minOccurs="0"/>
<xs:element name="storagePlaces" type="tns:storagePlaceEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="supplier" type="tns:ingredientSupplierEntity" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientIssueEntity">
<xs:sequence>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="issueItems" type="tns:ingredientItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientPurchaseOrderEntity">
<xs:sequence>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="forecast" type="tns:ingredientForecastEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="purchaseItems" type="tns:ingredientItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="receipt" type="tns:ingredientReceiptEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="total" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientReceiptEntity">
<xs:sequence>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:ingredientPurchaseOrderEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storagePlaceEntity">
<xs:sequence>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ingredients" type="tns:ingredientEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingredientSupplierEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="ingredients" type="tns:ingredientEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kitchenOrderEntity">
<xs:sequence>
<xs:element name="combos" type="tns:comboItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dishes" type="tns:dishItemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="total" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeItemMappingEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="productid" type="xs:long" minOccurs="0"/>
<xs:element name="retailProductId" type="xs:long" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeRetailProductEntity">
<xs:sequence>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
<xs:element name="retailProduct" type="tns:retailProductEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="storeRetailProductId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retailProductEntity">
<xs:sequence>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factoryRetailProducts" type="tns:factoryRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="retailProductId" type="xs:long" minOccurs="0"/>
<xs:element name="storeRetailProducts" type="tns:storeRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="integratedPlannedOrderEntity">
<xs:sequence>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryRawMaterialAmount" type="tns:factoryRawMaterialAmountEntity" minOccurs="0"/>
<xs:element name="factoryRetailProductAmount" type="tns:factoryRetailProductAmountEntity" minOccurs="0"/>
<xs:element name="generatedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="plannedOrderList" type="tns:plannedOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="purchaseOrder" type="tns:purchaseOrderEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="targetPeriod" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRawMaterialAmountEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="rawMaterialAmountId" type="xs:long" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRetailProductAmountEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="factoryRetailProductAmountId" type="xs:long" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="plannedOrderEntity">
<xs:sequence>
<xs:element name="confirmDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryRawMaterialAmountList" type="tns:factoryRawMaterialAmountEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryRetailProductAmount" type="tns:factoryRetailProductAmountEntity" minOccurs="0"/>
<xs:element name="generatedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="plannedOrderId" type="xs:long" minOccurs="0"/>
<xs:element name="productionPlan" type="tns:productionPlanEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="targetPeriod" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productionPlanEntity">
<xs:sequence>
<xs:element name="confirmDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factoryProduct" type="tns:factoryProductEntity" minOccurs="0"/>
<xs:element name="generatedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="plannedOrder" type="tns:plannedOrderEntity" minOccurs="0"/>
<xs:element name="productionPlanId" type="xs:long" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="targetPeriod" type="xs:dateTime" minOccurs="0"/>
<xs:element name="weeklyProductionPlanEntity" type="tns:weeklyProductionPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weeklyProductionPlanEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="productionMonth" type="xs:dateTime" minOccurs="0"/>
<xs:element name="productionPlan" type="tns:productionPlanEntity" minOccurs="0"/>
<xs:element name="week" type="xs:int" minOccurs="0"/>
<xs:element name="weeklyDemand" type="xs:double" minOccurs="0"/>
<xs:element name="workingDayInMonth" type="xs:int" minOccurs="0"/>
<xs:element name="workingDayInWeek" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderEntity">
<xs:sequence>
<xs:element name="contract" type="tns:contractEntity" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliveryDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliveryOrderList" type="tns:deliveryOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="destinationId" type="xs:long" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="goodsReceiptList" type="tns:goodsReceiptEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="integratedPlannedOrder" type="tns:integratedPlannedOrderEntity" minOccurs="0"/>
<xs:element name="isManual" type="xs:boolean" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="leadTime" type="xs:int" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:double" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deliveryOrderEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="deliveryDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:purchaseOrderEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="goodsReceiptEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="goodsReceiptId" type="xs:long" minOccurs="0"/>
<xs:element name="inboundMovements" type="tns:inboundMovementEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="originalAmount" type="xs:double" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:purchaseOrderEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inboundMovementEntity">
<xs:sequence>
<xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="fromGoodsRecipt" type="tns:goodsReceiptEntity" minOccurs="0"/>
<xs:element name="inboundMovementId" type="xs:long" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="stockTypeIndicator" type="xs:int"/>
<xs:element name="toBin" type="tns:factoryBinEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplierEntity">
<xs:sequence>
<xs:element name="contractList" type="tns:contractEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
<xs:element name="supplierAddress" type="xs:string" minOccurs="0"/>
<xs:element name="supplierContact" type="xs:string" minOccurs="0"/>
<xs:element name="supplierFax" type="xs:string" minOccurs="0"/>
<xs:element name="supplierId" type="xs:long" minOccurs="0"/>
<xs:element name="supplierName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeUserEntity">
<xs:complexContent>
<xs:extension base="tns:userEntity">
<xs:sequence>
<xs:element name="transaction" type="tns:transactionEntity" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="departmentId" type="xs:long"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="receiveMessage" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tickets" type="tns:ticketEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="userLevel" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageReceive">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="message" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="opened" type="xs:boolean"/>
<xs:element name="receivedMessageid" type="xs:long" minOccurs="0"/>
<xs:element name="receiver" type="tns:userEntity" minOccurs="0"/>
<xs:element name="replied" type="xs:boolean" minOccurs="0"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="senderId" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageEntity">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="internalMessageId" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="receiveMessages" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="receiverIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendTime" type="xs:string" minOccurs="0"/>
<xs:element name="sender" type="tns:userEntity" minOccurs="0"/>
<xs:element name="senderName" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticketEntity">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="xs:int" minOccurs="0"/>
<xs:element name="systemUser" type="tns:userEntity" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransaction">
<xs:sequence>
<xs:element name="staffId" type="xs:string" minOccurs="0"/>
<xs:element name="memberId" type="xs:long" minOccurs="0"/>
<xs:element name="location" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionItem">
<xs:sequence>
<xs:element name="itemId" type="xs:long" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionItemResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="caculateChange">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="tendered" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateChangeResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateTotalPrice">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateTotalPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUnfinishedTransaction">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUnfinishedTransactionResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>