IslandFurniturePOS/xml-resources/web-service-references/TransactionModule/wsdl/localhost_8080/TransactionModuleService/TransactionModule.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://OCRM.SessionBean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://OCRM.SessionBean/">

<xs:element name="caculateChange" type="tns:caculateChange"/>

<xs:element name="caculateChangeResponse" type="tns:caculateChangeResponse"/>

<xs:element name="caculateRedemption" type="tns:caculateRedemption"/>

<xs:element name="caculateRedemptionResponse" type="tns:caculateRedemptionResponse"/>

<xs:element name="caculateTotalPrice" type="tns:caculateTotalPrice"/>

<xs:element name="caculateTotalPriceResponse" type="tns:caculateTotalPriceResponse"/>

<xs:element name="changeAmount" type="tns:changeAmount"/>

<xs:element name="changeAmountResponse" type="tns:changeAmountResponse"/>

<xs:element name="checkItem" type="tns:checkItem"/>

<xs:element name="checkItemResponse" type="tns:checkItemResponse"/>

<xs:element name="checkItemType" type="tns:checkItemType"/>

<xs:element name="checkItemTypeResponse" type="tns:checkItemTypeResponse"/>

<xs:element name="createTransaction" type="tns:createTransaction"/>

<xs:element name="createTransactionItem" type="tns:createTransactionItem"/>

<xs:element name="createTransactionItemResponse" type="tns:createTransactionItemResponse"/>

<xs:element name="createTransactionResponse" type="tns:createTransactionResponse"/>

<xs:element name="deleteTransactionItem" type="tns:deleteTransactionItem"/>

<xs:element name="deleteTransactionItemResponse" type="tns:deleteTransactionItemResponse"/>

<xs:element name="deleteUnfinishedTransaction" type="tns:deleteUnfinishedTransaction"/>

<xs:element name="deleteUnfinishedTransactionResponse" type="tns:deleteUnfinishedTransactionResponse"/>

<xs:element name="getStoreByStaffId" type="tns:getStoreByStaffId"/>

<xs:element name="getStoreByStaffIdResponse" type="tns:getStoreByStaffIdResponse"/>

<xs:element name="getTransactionById" type="tns:getTransactionById"/>

<xs:element name="getTransactionByIdResponse" type="tns:getTransactionByIdResponse"/>

<xs:element name="getTransactionItemList" type="tns:getTransactionItemList"/>

<xs:element name="getTransactionItemListResponse" type="tns:getTransactionItemListResponse"/>

<xs:complexType name="createTransaction">
<xs:sequence>
<xs:element name="staffId" type="xs:string" minOccurs="0"/>
<xs:element name="memberId" type="xs:long" minOccurs="0"/>
<xs:element name="location" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreByStaffId">
<xs:sequence>
<xs:element name="storeStaffId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreByStaffIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeEntity">
<xs:sequence>
<xs:element name="storeId" type="xs:long" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="manager" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="factoryList" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="kitchen" type="tns:kitchenEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kitchenEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateRedemption">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateRedemptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionById">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:transactionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionEntity">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="generateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="totalMemberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="tendered" type="xs:double" minOccurs="0"/>
<xs:element name="moneyChange" type="xs:double" minOccurs="0"/>
<xs:element name="location" type="xs:int"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="member" type="tns:memberEntity" minOccurs="0"/>
<xs:element name="storeStaff" type="tns:storeUserEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberEntity">
<xs:sequence>
<xs:element name="memberId" type="xs:long" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="storeId" type="xs:long" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="currentPoints" type="xs:double" minOccurs="0"/>
<xs:element name="totalPoints" type="xs:double" minOccurs="0"/>
<xs:element name="pointsToUpgrade" type="xs:double" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="shoppingCartList" type="tns:itemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="memberlvl" type="tns:membershipLevelEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemEntity">
<xs:sequence>
<xs:element name="avalibility" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="picture" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
<xs:element name="productName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productEntity">
<xs:sequence>
<xs:element name="productId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="memberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="membershipLevelEntity">
<xs:sequence>
<xs:element name="discount" type="xs:double" minOccurs="0"/>
<xs:element name="levelId" type="xs:int" minOccurs="0"/>
<xs:element name="levelName" type="xs:string" minOccurs="0"/>
<xs:element name="members" type="tns:memberEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pointsToUpgrade" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeUserEntity">
<xs:complexContent>
<xs:extension base="tns:userEntity">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="departmentId" type="xs:long"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="receiveMessage" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tickets" type="tns:ticketEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="userLevel" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageReceive">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="message" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="opened" type="xs:boolean"/>
<xs:element name="receivedMessageid" type="xs:long" minOccurs="0"/>
<xs:element name="receiver" type="tns:userEntity" minOccurs="0"/>
<xs:element name="replied" type="xs:boolean" minOccurs="0"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="senderId" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageEntity">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="internalMessageId" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="receiveMessages" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="receiverIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendTime" type="xs:string" minOccurs="0"/>
<xs:element name="sender" type="tns:userEntity" minOccurs="0"/>
<xs:element name="senderName" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticketEntity">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="xs:int" minOccurs="0"/>
<xs:element name="systemUser" type="tns:userEntity" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionItemList">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionItemListResponse">
<xs:sequence>
<xs:element name="return" type="tns:transactionItemEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionItemEntity">
<xs:sequence>
<xs:element name="amount" type="xs:int"/>
<xs:element name="itemId" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="pickupList" type="tns:pickupListEntity" minOccurs="0"/>
<xs:element name="totalMemberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="transaction" type="tns:transactionEntity" minOccurs="0"/>
<xs:element name="transactionItemId" type="xs:long" minOccurs="0"/>
<xs:element name="unitMemberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="unitPrice" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pickupListEntity">
<xs:sequence>
<xs:element name="PickupListId" type="xs:long" minOccurs="0"/>
<xs:element name="Picked" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTransactionItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTransactionItemResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionItem">
<xs:sequence>
<xs:element name="itemId" type="xs:long" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionItemResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="caculateChange">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="moneyChange" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateChangeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="caculateTotalPrice">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateTotalPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUnfinishedTransaction">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUnfinishedTransactionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="changeAmount">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeAmountResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkItemType">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkItemTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>