IslandFurniturePOS-RetailProduct/src/META-INF/wsdl/localhost_8080/TransactionModuleService/TransactionModule.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://OCRM.SessionBean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://OCRM.SessionBean/">

<xs:element name="caculateChange" type="tns:caculateChange"/>

<xs:element name="caculateChangeResponse" type="tns:caculateChangeResponse"/>

<xs:element name="caculateRedemption" type="tns:caculateRedemption"/>

<xs:element name="caculateRedemptionResponse" type="tns:caculateRedemptionResponse"/>

<xs:element name="caculateTotalPrice" type="tns:caculateTotalPrice"/>

<xs:element name="caculateTotalPriceResponse" type="tns:caculateTotalPriceResponse"/>

<xs:element name="changeAmount" type="tns:changeAmount"/>

<xs:element name="changeAmountResponse" type="tns:changeAmountResponse"/>

<xs:element name="checkItem" type="tns:checkItem"/>

<xs:element name="checkItemResponse" type="tns:checkItemResponse"/>

<xs:element name="checkItemType" type="tns:checkItemType"/>

<xs:element name="checkItemTypeResponse" type="tns:checkItemTypeResponse"/>

<xs:element name="createTransaction" type="tns:createTransaction"/>

<xs:element name="createTransactionItem" type="tns:createTransactionItem"/>

<xs:element name="createTransactionItemResponse" type="tns:createTransactionItemResponse"/>

<xs:element name="createTransactionResponse" type="tns:createTransactionResponse"/>

<xs:element name="deleteTransactionItem" type="tns:deleteTransactionItem"/>

<xs:element name="deleteTransactionItemResponse" type="tns:deleteTransactionItemResponse"/>

<xs:element name="deleteUnfinishedTransaction" type="tns:deleteUnfinishedTransaction"/>

<xs:element name="deleteUnfinishedTransactionResponse" type="tns:deleteUnfinishedTransactionResponse"/>

<xs:element name="getStoreByStaffId" type="tns:getStoreByStaffId"/>

<xs:element name="getStoreByStaffIdResponse" type="tns:getStoreByStaffIdResponse"/>

<xs:element name="getTransactionById" type="tns:getTransactionById"/>

<xs:element name="getTransactionByIdResponse" type="tns:getTransactionByIdResponse"/>

<xs:element name="getTransactionItemList" type="tns:getTransactionItemList"/>

<xs:element name="getTransactionItemListResponse" type="tns:getTransactionItemListResponse"/>

<xs:element name="setTendered" type="tns:setTendered"/>

<xs:element name="setTenderedResponse" type="tns:setTenderedResponse"/>

<xs:complexType name="createTransaction">
<xs:sequence>
<xs:element name="staffId" type="xs:string" minOccurs="0"/>
<xs:element name="memberId" type="xs:long" minOccurs="0"/>
<xs:element name="location" type="xs:int"/>
<xs:element name="POSid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateRedemption">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateRedemptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreByStaffId">
<xs:sequence>
<xs:element name="storeStaffId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStoreByStaffIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:storeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeEntity">
<xs:sequence>
<xs:element name="storeId" type="xs:long" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="manager" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="factoryList" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storeBins" type="tns:storeWarehouseBinEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeWarehouseBinEntity">
<xs:sequence>
<xs:element name="frominstoreMovementRecords" type="tns:storeInStoreMovementRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="inboundMovementRecords" type="tns:storeInboundRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isBackHouse" type="xs:boolean" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="isDisplayArea" type="xs:boolean" minOccurs="0"/>
<xs:element name="isSelfCollect" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outboundMovementRecords" type="tns:storeOutboundRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="storeBinProducts" type="tns:storeBinProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="storeBinRetailProducts" type="tns:storeBinRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="toinstoreMovementRecords" type="tns:storeInStoreMovementRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeInStoreMovementRecordEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fromBin" type="tns:storeWarehouseBinEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="storeProduct" type="tns:storeProductEntity" minOccurs="0"/>
<xs:element name="storeRetailProduct" type="tns:storeRetailProductEntity" minOccurs="0"/>
<xs:element name="toBin" type="tns:storeWarehouseBinEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeProductEntity">
<xs:sequence>
<xs:element name="storeProductId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="returnedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="selfPick" type="xs:boolean" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="storeRemark" type="xs:string" minOccurs="0"/>
<xs:element name="factoryProduct" type="tns:factoryProductEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryProductEntity">
<xs:sequence>
<xs:element name="factoryProductId" type="xs:long" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="blockedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="returnedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryEntity">
<xs:sequence>
<xs:element name="factoryId" type="xs:long" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="manager" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="storeList" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="plannedOrders" type="tns:plannedOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="integratedPlannedOrders" type="tns:integratedPlannedOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="plannedOrderEntity">
<xs:sequence>
<xs:element name="confirmDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryRawMaterialAmountList" type="tns:factoryRawMaterialAmountEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="generatedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="plannedOrderId" type="xs:long" minOccurs="0"/>
<xs:element name="productionPlan" type="tns:productionPlanEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="targetPeriod" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRawMaterialAmountEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="rawMaterialAmountId" type="xs:long" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRawMaterialEntity">
<xs:sequence>
<xs:element name="blockedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="contracts" type="tns:contractEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryRawMaterialId" type="xs:long" minOccurs="0"/>
<xs:element name="inventoryRecord" type="tns:inventoryRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="materialName" type="xs:string" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="rawMaterial" type="tns:rawMaterialEntity" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contractEntity">
<xs:sequence>
<xs:element name="contractEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="contractId" type="xs:long" minOccurs="0"/>
<xs:element name="contractPrice" type="xs:double" minOccurs="0"/>
<xs:element name="contractStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="leadTime" type="xs:int" minOccurs="0"/>
<xs:element name="lotSize" type="xs:double" minOccurs="0"/>
<xs:element name="supplier" type="tns:supplierEntity" minOccurs="0"/>
<xs:element name="typeIndicator" type="xs:int"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRetailProductEntity">
<xs:sequence>
<xs:element name="blockedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="contracts" type="tns:contractEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="factoryRetailProdctId" type="xs:long" minOccurs="0"/>
<xs:element name="inventoryRecords" type="tns:inventoryRecordEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="retailProduct" type="tns:retailProductEntity" minOccurs="0"/>
<xs:element name="returnedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="storeRetailProducts" type="tns:storeRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryBinStoredProductEntity">
<xs:sequence>
<xs:element name="factoryBinStoredProductId" type="xs:long" minOccurs="0"/>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="stockTypeIndicator" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inventoryRecordEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="factoryProduct" type="tns:factoryProductEntity" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="recordDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retailProductEntity">
<xs:sequence>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factoryRetailProducts" type="tns:factoryRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="retailProductId" type="xs:long" minOccurs="0"/>
<xs:element name="storeRetailProducts" type="tns:storeRetailProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeRetailProductEntity">
<xs:sequence>
<xs:element name="storeRetailProductId" type="xs:long" minOccurs="0"/>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
<xs:element name="unrestrictedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="minimumInventory" type="xs:double" minOccurs="0"/>
<xs:element name="returnedInventory" type="xs:double" minOccurs="0"/>
<xs:element name="storeRemark" type="xs:string" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="retailProduct" type="tns:retailProductEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="supplierEntity">
<xs:sequence>
<xs:element name="contractList" type="tns:contractEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
<xs:element name="supplierAddress" type="xs:string" minOccurs="0"/>
<xs:element name="supplierContact" type="xs:string" minOccurs="0"/>
<xs:element name="supplierFax" type="xs:string" minOccurs="0"/>
<xs:element name="supplierId" type="xs:long" minOccurs="0"/>
<xs:element name="supplierName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rawMaterialEntity">
<xs:sequence>
<xs:element name="bomList" type="tns:bomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="factoryRawMaterials" type="tns:factoryRawMaterialEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="materialId" type="xs:long" minOccurs="0"/>
<xs:element name="materialName" type="xs:string" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bomEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="BOMId" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="product" type="tns:productEntity" minOccurs="0"/>
<xs:element name="rawMaterial" type="tns:rawMaterialEntity" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productEntity">
<xs:sequence>
<xs:element name="productId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double" minOccurs="0"/>
<xs:element name="memberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="bom" type="tns:bomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productionPlanEntity">
<xs:sequence>
<xs:element name="confirmDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factoryProduct" type="tns:factoryProductEntity" minOccurs="0"/>
<xs:element name="generatedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="plannedOrder" type="tns:plannedOrderEntity" minOccurs="0"/>
<xs:element name="productionPlanId" type="xs:long" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
<xs:element name="remark" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="targetPeriod" type="xs:dateTime" minOccurs="0"/>
<xs:element name="weeklyProductionPlanEntity" type="tns:weeklyProductionPlanEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="weeklyProductionPlanEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="productionMonth" type="xs:dateTime" minOccurs="0"/>
<xs:element name="productionPlan" type="tns:productionPlanEntity" minOccurs="0"/>
<xs:element name="week" type="xs:int" minOccurs="0"/>
<xs:element name="weeklyDemand" type="xs:double" minOccurs="0"/>
<xs:element name="workingDayInMonth" type="xs:int" minOccurs="0"/>
<xs:element name="workingDayInWeek" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="integratedPlannedOrderEntity">
<xs:sequence>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryRawMaterialAmount" type="tns:factoryRawMaterialAmountEntity" minOccurs="0"/>
<xs:element name="factoryRetailProductAmount" type="tns:factoryRetailProductAmountEntity" minOccurs="0"/>
<xs:element name="generatedDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="plannedOrderList" type="tns:plannedOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="purchaseOrder" type="tns:purchaseOrderEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="targetPeriod" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryRetailProductAmountEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="factoryRetailProductAmountId" type="xs:long" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseOrderEntity">
<xs:sequence>
<xs:element name="contract" type="tns:contractEntity" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliveryDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deliveryOrderList" type="tns:deliveryOrderEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="destinationId" type="xs:long" minOccurs="0"/>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="goodsReceiptList" type="tns:goodsReceiptEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="integratedPlannedOrder" type="tns:integratedPlannedOrderEntity" minOccurs="0"/>
<xs:element name="isManual" type="xs:boolean" minOccurs="0"/>
<xs:element name="isToStore" type="xs:boolean" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="leadTime" type="xs:int" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:double" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="unit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deliveryOrderEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="deliveryDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:purchaseOrderEntity" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="goodsReceiptEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="goodsReceiptId" type="xs:long" minOccurs="0"/>
<xs:element name="inboundMovements" type="tns:inboundMovementEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="originalAmount" type="xs:double" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:purchaseOrderEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inboundMovementEntity">
<xs:sequence>
<xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="factoryRawMaterial" type="tns:factoryRawMaterialEntity" minOccurs="0"/>
<xs:element name="factoryRetailProduct" type="tns:factoryRetailProductEntity" minOccurs="0"/>
<xs:element name="fromGoodsRecipt" type="tns:goodsReceiptEntity" minOccurs="0"/>
<xs:element name="inboundMovementId" type="xs:long" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="stockTypeIndicator" type="xs:int"/>
<xs:element name="toBin" type="tns:factoryBinEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factoryBinEntity">
<xs:sequence>
<xs:element name="factory" type="tns:factoryEntity" minOccurs="0"/>
<xs:element name="factoryBinId" type="xs:long" minOccurs="0"/>
<xs:element name="factoryBinStoredProducts" type="tns:factoryBinStoredProductEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeInboundRecordEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="storeProduct" type="tns:storeProductEntity" minOccurs="0"/>
<xs:element name="storeRetailProduct" type="tns:storeRetailProductEntity" minOccurs="0"/>
<xs:element name="toBin" type="tns:storeWarehouseBinEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeOutboundRecordEntity">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="creationTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fromBin" type="tns:storeWarehouseBinEntity" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="storeProduct" type="tns:storeProductEntity" minOccurs="0"/>
<xs:element name="storeRetailProduct" type="tns:storeRetailProductEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeBinProductEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="product" type="tns:storeProductEntity" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeBinRetailProductEntity">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="quantity" type="xs:double" minOccurs="0"/>
<xs:element name="retailProduct" type="tns:storeRetailProductEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionById">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:transactionEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionEntity">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="generateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="totalMemberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="tendered" type="xs:double" minOccurs="0"/>
<xs:element name="moneyChange" type="xs:double" minOccurs="0"/>
<xs:element name="POSid" type="xs:string" minOccurs="0"/>
<xs:element name="location" type="xs:int"/>
<xs:element name="store" type="tns:storeEntity" minOccurs="0"/>
<xs:element name="member" type="tns:memberEntity" minOccurs="0"/>
<xs:element name="storeStaff" type="tns:storeUserEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="memberEntity">
<xs:sequence>
<xs:element name="memberId" type="xs:long" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="storeId" type="xs:long" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="currentPoints" type="xs:double" minOccurs="0"/>
<xs:element name="totalPoints" type="xs:double" minOccurs="0"/>
<xs:element name="pointsToUpgrade" type="xs:double" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="memberlvl" type="tns:membershipLevelEntity" minOccurs="0"/>
<xs:element name="rfm" type="tns:rfmEntity" minOccurs="0"/>
<xs:element name="clv" type="tns:clvEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="membershipLevelEntity">
<xs:sequence>
<xs:element name="cle" type="xs:int" minOccurs="0"/>
<xs:element name="discount" type="xs:double" minOccurs="0"/>
<xs:element name="expressCheckout" type="xs:boolean" minOccurs="0"/>
<xs:element name="freeDelivery" type="xs:boolean" minOccurs="0"/>
<xs:element name="freeParking" type="xs:boolean" minOccurs="0"/>
<xs:element name="inviteOnlyEvent" type="xs:boolean" minOccurs="0"/>
<xs:element name="levelId" type="xs:int" minOccurs="0"/>
<xs:element name="levelName" type="xs:string" minOccurs="0"/>
<xs:element name="pointsToUpgrade" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rfmEntity">
<xs:sequence>
<xs:element name="frequency" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="member" type="tns:memberEntity" minOccurs="0"/>
<xs:element name="monetary" type="xs:double" minOccurs="0"/>
<xs:element name="recency" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clvEntity">
<xs:sequence>
<xs:element name="aveExp" type="xs:double" minOccurs="0"/>
<xs:element name="clv" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="member" type="tns:memberEntity" minOccurs="0"/>
<xs:element name="visitThisMonth" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeUserEntity">
<xs:complexContent>
<xs:extension base="tns:userEntity">
<xs:sequence>
<xs:element name="isCasher" type="xs:boolean"/>
<xs:element name="beginCash" type="xs:double" minOccurs="0"/>
<xs:element name="endCash" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="departmentId" type="xs:long"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="receiveMessage" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tickets" type="tns:ticketEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="userLevel" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageReceive">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="message" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="opened" type="xs:boolean"/>
<xs:element name="receivedMessageid" type="xs:long" minOccurs="0"/>
<xs:element name="receiver" type="tns:userEntity" minOccurs="0"/>
<xs:element name="replied" type="xs:boolean" minOccurs="0"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="senderId" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageEntity">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="internalMessageId" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="receiveMessages" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="receiverIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendTime" type="xs:string" minOccurs="0"/>
<xs:element name="sender" type="tns:userEntity" minOccurs="0"/>
<xs:element name="senderName" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticketEntity">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="xs:int" minOccurs="0"/>
<xs:element name="systemUser" type="tns:userEntity" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionItemList">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionItemListResponse">
<xs:sequence>
<xs:element name="return" type="tns:transactionItemEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactionItemEntity">
<xs:sequence>
<xs:element name="amount" type="xs:int"/>
<xs:element name="itemId" type="xs:long" minOccurs="0"/>
<xs:element name="itemName" type="xs:string" minOccurs="0"/>
<xs:element name="pickupList" type="tns:pickupListEntity" minOccurs="0"/>
<xs:element name="totalMemberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="totalPrice" type="xs:double" minOccurs="0"/>
<xs:element name="transaction" type="tns:transactionEntity" minOccurs="0"/>
<xs:element name="transactionItemId" type="xs:long" minOccurs="0"/>
<xs:element name="unitMemberPrice" type="xs:double" minOccurs="0"/>
<xs:element name="unitPrice" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pickupListEntity">
<xs:sequence>
<xs:element name="PickupListId" type="xs:long" minOccurs="0"/>
<xs:element name="Picked" type="xs:boolean" minOccurs="0"/>
<xs:element name="Distributed" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTransactionItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteTransactionItemResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkItem">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionItem">
<xs:sequence>
<xs:element name="itemId" type="xs:long" minOccurs="0"/>
<xs:element name="amount" type="xs:int"/>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTransactionItemResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="caculateChange">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="moneyChange" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateChangeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="caculateTotalPrice">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="caculateTotalPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setTendered">
<xs:sequence>
<xs:element name="transactionId" type="xs:long" minOccurs="0"/>
<xs:element name="tendered" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setTenderedResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteUnfinishedTransaction">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUnfinishedTransactionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="changeAmount">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeAmountResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkItemType">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkItemTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>