IslandFurniturePOS-Kitchen/src/META-INF/CustomerOrderFulfillmentModule.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://KM.SessionBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://KM.SessionBean/" name="CustomerOrderFulfillmentModuleService">
<types>
<xsd:schema>
<xsd:import namespace="http://KM.SessionBean/" schemaLocation="http://localhost:8080/CustomerOrderFulfillmentModuleService/CustomerOrderFulfillmentModule?xsd=1"/>
</xsd:schema>
</types>
<message name="checkOut">
<part name="parameters" element="tns:checkOut"/>
</message>
<message name="checkOutResponse">
<part name="parameters" element="tns:checkOutResponse"/>
</message>
<message name="findKitchenByStoreStaffId">
<part name="parameters" element="tns:findKitchenByStoreStaffId"/>
</message>
<message name="findKitchenByStoreStaffIdResponse">
<part name="parameters" element="tns:findKitchenByStoreStaffIdResponse"/>
</message>
<message name="createOrder">
<part name="parameters" element="tns:createOrder"/>
</message>
<message name="createOrderResponse">
<part name="parameters" element="tns:createOrderResponse"/>
</message>
<message name="addComboItem">
<part name="parameters" element="tns:addComboItem"/>
</message>
<message name="addComboItemResponse">
<part name="parameters" element="tns:addComboItemResponse"/>
</message>
<message name="deleteComboItem">
<part name="parameters" element="tns:deleteComboItem"/>
</message>
<message name="deleteComboItemResponse">
<part name="parameters" element="tns:deleteComboItemResponse"/>
</message>
<message name="confirmOrder">
<part name="parameters" element="tns:confirmOrder"/>
</message>
<message name="confirmOrderResponse">
<part name="parameters" element="tns:confirmOrderResponse"/>
</message>
<message name="cancelOrder">
<part name="parameters" element="tns:cancelOrder"/>
</message>
<message name="cancelOrderResponse">
<part name="parameters" element="tns:cancelOrderResponse"/>
</message>
<message name="getUnfulfilledOrders">
<part name="parameters" element="tns:getUnfulfilledOrders"/>
</message>
<message name="getUnfulfilledOrdersResponse">
<part name="parameters" element="tns:getUnfulfilledOrdersResponse"/>
</message>
<message name="getDailyOrders">
<part name="parameters" element="tns:getDailyOrders"/>
</message>
<message name="getDailyOrdersResponse">
<part name="parameters" element="tns:getDailyOrdersResponse"/>
</message>
<message name="fulfillDishItem">
<part name="parameters" element="tns:fulfillDishItem"/>
</message>
<message name="fulfillDishItemResponse">
<part name="parameters" element="tns:fulfillDishItemResponse"/>
</message>
<message name="getUnservedOrders">
<part name="parameters" element="tns:getUnservedOrders"/>
</message>
<message name="getUnservedOrdersResponse">
<part name="parameters" element="tns:getUnservedOrdersResponse"/>
</message>
<message name="serveOrder">
<part name="parameters" element="tns:serveOrder"/>
</message>
<message name="serveOrderResponse">
<part name="parameters" element="tns:serveOrderResponse"/>
</message>
<message name="findDailySales">
<part name="parameters" element="tns:findDailySales"/>
</message>
<message name="findDailySalesResponse">
<part name="parameters" element="tns:findDailySalesResponse"/>
</message>
<message name="findDailySalesDishItems">
<part name="parameters" element="tns:findDailySalesDishItems"/>
</message>
<message name="findDailySalesDishItemsResponse">
<part name="parameters" element="tns:findDailySalesDishItemsResponse"/>
</message>
<message name="findDailySalesComboItems">
<part name="parameters" element="tns:findDailySalesComboItems"/>
</message>
<message name="findDailySalesComboItemsResponse">
<part name="parameters" element="tns:findDailySalesComboItemsResponse"/>
</message>
<message name="findRecipe">
<part name="parameters" element="tns:findRecipe"/>
</message>
<message name="findRecipeResponse">
<part name="parameters" element="tns:findRecipeResponse"/>
</message>
<message name="findOrderById">
<part name="parameters" element="tns:findOrderById"/>
</message>
<message name="findOrderByIdResponse">
<part name="parameters" element="tns:findOrderByIdResponse"/>
</message>
<message name="addDishItem">
<part name="parameters" element="tns:addDishItem"/>
</message>
<message name="addDishItemResponse">
<part name="parameters" element="tns:addDishItemResponse"/>
</message>
<message name="deleteDishItem">
<part name="parameters" element="tns:deleteDishItem"/>
</message>
<message name="deleteDishItemResponse">
<part name="parameters" element="tns:deleteDishItemResponse"/>
</message>
<message name="getDishItemByOrderId">
<part name="parameters" element="tns:getDishItemByOrderId"/>
</message>
<message name="getDishItemByOrderIdResponse">
<part name="parameters" element="tns:getDishItemByOrderIdResponse"/>
</message>
<message name="getDishByKitchenId">
<part name="parameters" element="tns:getDishByKitchenId"/>
</message>
<message name="getDishByKitchenIdResponse">
<part name="parameters" element="tns:getDishByKitchenIdResponse"/>
</message>
<message name="getComboItemByOrderId">
<part name="parameters" element="tns:getComboItemByOrderId"/>
</message>
<message name="getComboItemByOrderIdResponse">
<part name="parameters" element="tns:getComboItemByOrderIdResponse"/>
</message>
<message name="getComboByKitchenId">
<part name="parameters" element="tns:getComboByKitchenId"/>
</message>
<message name="getComboByKitchenIdResponse">
<part name="parameters" element="tns:getComboByKitchenIdResponse"/>
</message>
<portType name="CustomerOrderFulfillmentModule">
<operation name="checkOut">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/checkOutRequest" message="tns:checkOut"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/checkOutResponse" message="tns:checkOutResponse"/>
</operation>
<operation name="findKitchenByStoreStaffId">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findKitchenByStoreStaffIdRequest" message="tns:findKitchenByStoreStaffId"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findKitchenByStoreStaffIdResponse" message="tns:findKitchenByStoreStaffIdResponse"/>
</operation>
<operation name="createOrder">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/createOrderRequest" message="tns:createOrder"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/createOrderResponse" message="tns:createOrderResponse"/>
</operation>
<operation name="addComboItem">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/addComboItemRequest" message="tns:addComboItem"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/addComboItemResponse" message="tns:addComboItemResponse"/>
</operation>
<operation name="deleteComboItem">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/deleteComboItemRequest" message="tns:deleteComboItem"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/deleteComboItemResponse" message="tns:deleteComboItemResponse"/>
</operation>
<operation name="confirmOrder">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/confirmOrderRequest" message="tns:confirmOrder"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/confirmOrderResponse" message="tns:confirmOrderResponse"/>
</operation>
<operation name="cancelOrder">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/cancelOrderRequest" message="tns:cancelOrder"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/cancelOrderResponse" message="tns:cancelOrderResponse"/>
</operation>
<operation name="getUnfulfilledOrders">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getUnfulfilledOrdersRequest" message="tns:getUnfulfilledOrders"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getUnfulfilledOrdersResponse" message="tns:getUnfulfilledOrdersResponse"/>
</operation>
<operation name="getDailyOrders">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getDailyOrdersRequest" message="tns:getDailyOrders"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getDailyOrdersResponse" message="tns:getDailyOrdersResponse"/>
</operation>
<operation name="fulfillDishItem">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/fulfillDishItemRequest" message="tns:fulfillDishItem"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/fulfillDishItemResponse" message="tns:fulfillDishItemResponse"/>
</operation>
<operation name="getUnservedOrders">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getUnservedOrdersRequest" message="tns:getUnservedOrders"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getUnservedOrdersResponse" message="tns:getUnservedOrdersResponse"/>
</operation>
<operation name="serveOrder">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/serveOrderRequest" message="tns:serveOrder"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/serveOrderResponse" message="tns:serveOrderResponse"/>
</operation>
<operation name="findDailySales">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findDailySalesRequest" message="tns:findDailySales"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findDailySalesResponse" message="tns:findDailySalesResponse"/>
</operation>
<operation name="findDailySalesDishItems">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findDailySalesDishItemsRequest" message="tns:findDailySalesDishItems"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findDailySalesDishItemsResponse" message="tns:findDailySalesDishItemsResponse"/>
</operation>
<operation name="findDailySalesComboItems">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findDailySalesComboItemsRequest" message="tns:findDailySalesComboItems"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findDailySalesComboItemsResponse" message="tns:findDailySalesComboItemsResponse"/>
</operation>
<operation name="findRecipe">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findRecipeRequest" message="tns:findRecipe"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findRecipeResponse" message="tns:findRecipeResponse"/>
</operation>
<operation name="findOrderById">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findOrderByIdRequest" message="tns:findOrderById"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/findOrderByIdResponse" message="tns:findOrderByIdResponse"/>
</operation>
<operation name="addDishItem">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/addDishItemRequest" message="tns:addDishItem"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/addDishItemResponse" message="tns:addDishItemResponse"/>
</operation>
<operation name="deleteDishItem">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/deleteDishItemRequest" message="tns:deleteDishItem"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/deleteDishItemResponse" message="tns:deleteDishItemResponse"/>
</operation>
<operation name="getDishItemByOrderId">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getDishItemByOrderIdRequest" message="tns:getDishItemByOrderId"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getDishItemByOrderIdResponse" message="tns:getDishItemByOrderIdResponse"/>
</operation>
<operation name="getDishByKitchenId">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getDishByKitchenIdRequest" message="tns:getDishByKitchenId"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getDishByKitchenIdResponse" message="tns:getDishByKitchenIdResponse"/>
</operation>
<operation name="getComboItemByOrderId">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getComboItemByOrderIdRequest" message="tns:getComboItemByOrderId"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getComboItemByOrderIdResponse" message="tns:getComboItemByOrderIdResponse"/>
</operation>
<operation name="getComboByKitchenId">
<input wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getComboByKitchenIdRequest" message="tns:getComboByKitchenId"/>
<output wsam:Action="http://KM.SessionBean/CustomerOrderFulfillmentModule/getComboByKitchenIdResponse" message="tns:getComboByKitchenIdResponse"/>
</operation>
</portType>
<binding name="CustomerOrderFulfillmentModulePortBinding" type="tns:CustomerOrderFulfillmentModule">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findKitchenByStoreStaffId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addComboItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteComboItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnfulfilledOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDailyOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fulfillDishItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUnservedOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="serveOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDailySales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDailySalesDishItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDailySalesComboItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRecipe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findOrderById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDishItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDishItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDishItemByOrderId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDishByKitchenId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComboItemByOrderId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComboByKitchenId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerOrderFulfillmentModuleService">
<port name="CustomerOrderFulfillmentModulePort" binding="tns:CustomerOrderFulfillmentModulePortBinding">
<soap:address location="http://localhost:8080/CustomerOrderFulfillmentModuleService/CustomerOrderFulfillmentModule"/>
</port>
</service>
</definitions>