IslandFurniturePOS-Kitchen/xml-resources/web-service-references/IFManagerBean/wsdl/localhost_8080/IFManagerBeanService/IFManagerBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://login.util/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://login.util/">

<xs:element name="getCasherById" type="tns:getCasherById"/>

<xs:element name="getCasherByIdResponse" type="tns:getCasherByIdResponse"/>

<xs:element name="getFullNameById" type="tns:getFullNameById"/>

<xs:element name="getFullNameByIdResponse" type="tns:getFullNameByIdResponse"/>

<xs:element name="getUserInfo" type="tns:getUserInfo"/>

<xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="shopLogin" type="tns:shopLogin"/>

<xs:element name="shopLoginResponse" type="tns:shopLoginResponse"/>

<xs:element name="updateEndCash" type="tns:updateEndCash"/>

<xs:element name="updateEndCashResponse" type="tns:updateEndCashResponse"/>

<xs:element name="validateUser" type="tns:validateUser"/>

<xs:element name="validateUserResponse" type="tns:validateUserResponse"/>

<xs:complexType name="validateUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logout">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCasherById">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCasherByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:storeUserEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="storeUserEntity">
<xs:complexContent>
<xs:extension base="tns:userEntity">
<xs:sequence>
<xs:element name="isCasher" type="xs:boolean"/>
<xs:element name="beginCash" type="xs:double" minOccurs="0"/>
<xs:element name="endCash" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userEntity">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"/>
<xs:element name="deleteFlag" type="xs:boolean" minOccurs="0"/>
<xs:element name="department" type="xs:string" minOccurs="0"/>
<xs:element name="departmentId" type="xs:long"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="midName" type="xs:string" minOccurs="0"/>
<xs:element name="position" type="xs:string" minOccurs="0"/>
<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
<xs:element name="pwd" type="xs:string" minOccurs="0"/>
<xs:element name="receiveMessage" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="tickets" type="tns:ticketEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="userLevel" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageReceive">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="message" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="opened" type="xs:boolean"/>
<xs:element name="receivedMessageid" type="xs:long" minOccurs="0"/>
<xs:element name="receiver" type="tns:userEntity" minOccurs="0"/>
<xs:element name="replied" type="xs:boolean" minOccurs="0"/>
<xs:element name="sendMessage" type="tns:internalMessageEntity" minOccurs="0"/>
<xs:element name="senderId" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="internalMessageEntity">
<xs:sequence>
<xs:element name="calendarTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="internalMessageId" type="xs:long" minOccurs="0"/>
<xs:element name="isDeleted" type="xs:boolean" minOccurs="0"/>
<xs:element name="receiveMessages" type="tns:internalMessageReceive" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="receiverIds" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sendTime" type="xs:string" minOccurs="0"/>
<xs:element name="sender" type="tns:userEntity" minOccurs="0"/>
<xs:element name="senderName" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticketEntity">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="xs:int" minOccurs="0"/>
<xs:element name="systemUser" type="tns:userEntity" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEndCash">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEndCashResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFullNameById">
<xs:sequence>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFullNameByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfo">
<xs:sequence>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shopLogin">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shopLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>