IslandFurniturePOS/src/META-INF/wsdl/localhost_8080/TransactionModuleService/TransactionModule.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://OCRM.SessionBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://OCRM.SessionBean/" name="TransactionModuleService">
<types>
<xsd:schema>
<xsd:import namespace="http://OCRM.SessionBean/" schemaLocation="http://localhost:8080/TransactionModuleService/TransactionModule?xsd=1"/>
</xsd:schema>
</types>
<message name="createTransaction">
<part name="parameters" element="tns:createTransaction"/>
</message>
<message name="createTransactionResponse">
<part name="parameters" element="tns:createTransactionResponse"/>
</message>
<message name="createTransactionItem">
<part name="parameters" element="tns:createTransactionItem"/>
</message>
<message name="createTransactionItemResponse">
<part name="parameters" element="tns:createTransactionItemResponse"/>
</message>
<message name="caculateTotalPrice">
<part name="parameters" element="tns:caculateTotalPrice"/>
</message>
<message name="caculateTotalPriceResponse">
<part name="parameters" element="tns:caculateTotalPriceResponse"/>
</message>
<message name="caculateChange">
<part name="parameters" element="tns:caculateChange"/>
</message>
<message name="caculateChangeResponse">
<part name="parameters" element="tns:caculateChangeResponse"/>
</message>
<message name="checkItem">
<part name="parameters" element="tns:checkItem"/>
</message>
<message name="checkItemResponse">
<part name="parameters" element="tns:checkItemResponse"/>
</message>
<message name="getTransactionItemList">
<part name="parameters" element="tns:getTransactionItemList"/>
</message>
<message name="getTransactionItemListResponse">
<part name="parameters" element="tns:getTransactionItemListResponse"/>
</message>
<message name="deleteUnfinishedTransaction">
<part name="parameters" element="tns:deleteUnfinishedTransaction"/>
</message>
<message name="deleteUnfinishedTransactionResponse">
<part name="parameters" element="tns:deleteUnfinishedTransactionResponse"/>
</message>
<portType name="TransactionModule">
<operation name="createTransaction">
<input wsam:Action="http://OCRM.SessionBean/TransactionModule/createTransactionRequest" message="tns:createTransaction"/>
<output wsam:Action="http://OCRM.SessionBean/TransactionModule/createTransactionResponse" message="tns:createTransactionResponse"/>
</operation>
<operation name="createTransactionItem">
<input wsam:Action="http://OCRM.SessionBean/TransactionModule/createTransactionItemRequest" message="tns:createTransactionItem"/>
<output wsam:Action="http://OCRM.SessionBean/TransactionModule/createTransactionItemResponse" message="tns:createTransactionItemResponse"/>
</operation>
<operation name="caculateTotalPrice">
<input wsam:Action="http://OCRM.SessionBean/TransactionModule/caculateTotalPriceRequest" message="tns:caculateTotalPrice"/>
<output wsam:Action="http://OCRM.SessionBean/TransactionModule/caculateTotalPriceResponse" message="tns:caculateTotalPriceResponse"/>
</operation>
<operation name="caculateChange">
<input wsam:Action="http://OCRM.SessionBean/TransactionModule/caculateChangeRequest" message="tns:caculateChange"/>
<output wsam:Action="http://OCRM.SessionBean/TransactionModule/caculateChangeResponse" message="tns:caculateChangeResponse"/>
</operation>
<operation name="checkItem">
<input wsam:Action="http://OCRM.SessionBean/TransactionModule/checkItemRequest" message="tns:checkItem"/>
<output wsam:Action="http://OCRM.SessionBean/TransactionModule/checkItemResponse" message="tns:checkItemResponse"/>
</operation>
<operation name="getTransactionItemList">
<input wsam:Action="http://OCRM.SessionBean/TransactionModule/getTransactionItemListRequest" message="tns:getTransactionItemList"/>
<output wsam:Action="http://OCRM.SessionBean/TransactionModule/getTransactionItemListResponse" message="tns:getTransactionItemListResponse"/>
</operation>
<operation name="deleteUnfinishedTransaction">
<input wsam:Action="http://OCRM.SessionBean/TransactionModule/deleteUnfinishedTransactionRequest" message="tns:deleteUnfinishedTransaction"/>
<output wsam:Action="http://OCRM.SessionBean/TransactionModule/deleteUnfinishedTransactionResponse" message="tns:deleteUnfinishedTransactionResponse"/>
</operation>
</portType>
<binding name="TransactionModulePortBinding" type="tns:TransactionModule">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTransactionItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="caculateTotalPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="caculateChange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionItemList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUnfinishedTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransactionModuleService">
<port name="TransactionModulePort" binding="tns:TransactionModulePortBinding">
<soap:address location="http://localhost:8080/TransactionModuleService/TransactionModule"/>
</port>
</service>
</definitions>