IslandFurniturePOS-Furniture/src/META-INF/IFManagerBean.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://login.util/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://login.util/" name="IFManagerBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://login.util/" schemaLocation="http://localhost:8080/IFManagerBeanService/IFManagerBean?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo"/>
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse"/>
</message>
<message name="shopLogin">
<part name="parameters" element="tns:shopLogin"/>
</message>
<message name="shopLoginResponse">
<part name="parameters" element="tns:shopLoginResponse"/>
</message>
<message name="getFullNameById">
<part name="parameters" element="tns:getFullNameById"/>
</message>
<message name="getFullNameByIdResponse">
<part name="parameters" element="tns:getFullNameByIdResponse"/>
</message>
<message name="validateUser">
<part name="parameters" element="tns:validateUser"/>
</message>
<message name="validateUserResponse">
<part name="parameters" element="tns:validateUserResponse"/>
</message>
<portType name="IFManagerBean">
<operation name="getUserInfo">
<input wsam:Action="http://login.util/IFManagerBean/getUserInfoRequest" message="tns:getUserInfo"/>
<output wsam:Action="http://login.util/IFManagerBean/getUserInfoResponse" message="tns:getUserInfoResponse"/>
</operation>
<operation name="shopLogin">
<input wsam:Action="http://login.util/IFManagerBean/shopLoginRequest" message="tns:shopLogin"/>
<output wsam:Action="http://login.util/IFManagerBean/shopLoginResponse" message="tns:shopLoginResponse"/>
</operation>
<operation name="getFullNameById">
<input wsam:Action="http://login.util/IFManagerBean/getFullNameByIdRequest" message="tns:getFullNameById"/>
<output wsam:Action="http://login.util/IFManagerBean/getFullNameByIdResponse" message="tns:getFullNameByIdResponse"/>
</operation>
<operation name="validateUser">
<input wsam:Action="http://login.util/IFManagerBean/validateUserRequest" message="tns:validateUser"/>
<output wsam:Action="http://login.util/IFManagerBean/validateUserResponse" message="tns:validateUserResponse"/>
</operation>
</portType>
<binding name="IFManagerBeanPortBinding" type="tns:IFManagerBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shopLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFullNameById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IFManagerBeanService">
<port name="IFManagerBeanPort" binding="tns:IFManagerBeanPortBinding">
<soap:address location="http://localhost:8080/IFManagerBeanService/IFManagerBean"/>
</port>
</service>
</definitions>